<h1>Verify your email account</h1>
<form action="/auth/reset" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" id="email" name="email" required>
  </div>
  <button>Send Mail</button>
</form>