<%- include('./partials/header-map') %>
<div class="card-login justify-content-center" style="height: 350px;">
  <h3>Register</h3>
  <form action="/auth/register" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="text" class="form-control input_user" placeholder="Name" id="name" name="name" required>
      <!-- <input type="text" class="form-control input_user" placeholder="Useremail" id="email" name="email" required> -->
    </div>
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="email" id="email" placeholder="Useremail" class="form-control input_user" name="email" required>
      <!-- <input type="text" class="form-control input_user" placeholder="Useremail" id="email" name="email" required> -->
    </div>
    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input type="password" class="form-control input_pass" placeholder="Password" id="password" name="password" required>
      <!-- <input type="password" class="form-control input_pass" placeholder="Password" id="password" name="password" required> -->
    </div>
    <button class="my-btn d-flex mt-3 login_container" type="submit">Register</button>
  </form>
  <button class="my-btn float-right d-flex mt-3 login_container">
    <a href="/auth/login">Login</a>
  </button>
</div>
